body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: "Indie Flower", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: orangered;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
